<!DOCTYPE html><head><meta charset="utf-8">
    <title>Hello,亲: 本WebAPI支持IP城市定位和域名查IP定位</title>
    </head>
    <html><body style="text-align:center;">
    {% if ip %}
    <h2>Hello, 来自 {{ city }} 的亲:</h2>
    <a href="https://262235.xyz/ip/maps/"> <img style="margin:5px" 
        src="https://api.map.baidu.com/staticimage/v2?ak=tF8XaCqUG9ZjFR66lqqNXmLzeT24gtGF&mcode=666666&center=110,35&width=500&height=300&zoom=4 "/>
        </a>
    <h3>{{ ipaddr }}: <a href="https://262235.xyz/maps.php?city={{ city }}">查看地图</a></h3> 
    {% else %}
      <h1>Hello World!</h1>
    {%  endif  %}

    <div>IP/域名: <input id="name" type="text">
    <input type="button" id="btn" value="提交">
    <input type="button" id="json" value="获得json"></div>

    <script src="https://libs.baidu.com/jquery/2.0.0/jquery.min.js"></script>
    <script>
        $("#btn").click(function () {
            jump_url()
        })
        function jump_url(params) {
            var name = $("#name").val();
            const url = window.location.href;
            window.location.href = '/ip/' + name
        }

        $("#json").click(function () {
            getjson()
        })
        function getjson(params) {
            var ip = $("#name").val();
            const url = 'https://api.map.baidu.com/location/ip?ak=tF8XaCqUG9ZjFR66lqqNXmLzeT24gtGF&ip=';
            window.location.href = url + ip + '&coor=bd09ll'
        }

    </script>
    <br><br><br><br><br><br>

    本WebAPI支持IP城市定位和域名查IP定位，同时支持命令行查询<br>
    <br>github源码：<a href="https://github.com/hongwenjun/ip">https://github.com/hongwenjun/ip</a>
    <br>
    <br>docker镜像：<a href="https://hub.docker.com/r/hongwenjun/ip">https://hub.docker.com/r/hongwenjun/ip</a>
    <h3>搭建WebAPI参考文章</h3>
    <a href="https://262235.xyz/index.php/archives/342/">Python网络开发简单的IP城市定位WebAPI</a>
    <p>

    <h3>命令行 curl 使用:</h3>
    <pre>
    curl https://262235.xyz/ip/            # 命令行 URL 要带 /

    curl https://262235.xyz/ip/8.8.8.8    # 查询自定义 IP 定位

    curl https://262235.xyz/ip/github.com   # 按域名查 IP 定位


