<nav class="navbar navbar-expand-sm bg-dark navbar-dark">
<div class="container ">
<!-- Brand/logo -->
<a class="navbar-brand" href="https://262235.xyz/ip/">Python Flask WebAPI</a>

<!-- 导航栏 在手机显示折叠按钮 -->
<button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNavDarkDropdown" aria-controls="navbarNavDarkDropdown" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
</button>
<div class="collapse navbar-collapse" id="navbarNavDarkDropdown">
    
<!-- Links -->
<ul class="navbar-nav me-auto">
    <li class="nav-item"><a class="nav-link text-truncate" href="https://github.com/hongwenjun/ip">github源码</a></li>
    <li class="nav-item"><a class="nav-link text-truncate" href="https://hub.docker.com/r/hongwenjun/ip">docker镜像</a></li>
    <li class="nav-item "><a class="nav-link text-truncate" href="https://262235.xyz/index.php/search/webapi/">搭建WebAPI参考文章</a></li>

    <!-- Dropdown -->
    <li class="nav-item dropdown">
    <a class="nav-link dropdown-toggle" href="#" id="navbardrop" data-bs-toggle="dropdown">
        在线工具箱
    </a>
    <div class="dropdown-menu">
        <a class="dropdown-item" href="https://262235.xyz/bs/">Bootstrap theme</a>
        <a class="dropdown-item" href="https://www.runoob.com/bootstrap5/bootstrap5-tutorial.html">Bootstrap5 教程</a>
        <a class="dropdown-item" href="https://www.262235.xyz/index.php/246.html">编程中文文档</a>
        <a class="dropdown-item" href="https://262235.xyz/linux-command/">Linux 命令列表</a>
        <a class="dropdown-item" href="/ip/">IP定位和地图</a>
        <a class="dropdown-item" href="/ips/">批量IP查询</a>
        <a class="dropdown-item" href="/getmd/">批量网址转Markdown</a>
        <a class="dropdown-item" href="https://tool.lu/markdown/">Markdown编辑器</a>
    </div>
    </li>
</ul>

<!-- 导航栏的表单 -->
<form method="post" class="d-flex" action="https://262235.xyz/">
    <input class="form-control me-2" name="s" type="text" placeholder="Search">
    <button class="btn btn-primary"  type="submit">Search</button>      
</form>
</div></div>
</nav>